* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    font-family: 'Kanit', sans-serif;
}

/* ------------ NAVBAR ------------ */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 20px 0;
    z-index: 1000;
}

.navegacion {
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
}

.nav-links li a:hover {
    background-color: #555;
    border-radius: 4px;
}

/* ------------ SECTION-1 ------------ */

.section-1 {
    background-color: #f0f0f0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenedor */
    align-items: center; /* Centra verticalmente el contenedor */
}

.section1-container {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* Ajusta según el ancho deseado */
    height: 60%; /* Ajusta según la altura deseada */
    border-radius: 1%;
}

.section1-image {
    width: 40%; /* Imagen ocupa el 40% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.section1-image img {
    width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor asignado */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 1%; /* Opcional: para aplicar bordes redondeados */
    margin: 5%;
    overflow: hidden;
}

.section1-text {
    width: 60%; /* Texto ocupa el 60% del ancho del contenedor */
    padding-left: 5%; /* Añade un pequeño espacio entre la imagen y el texto */
}   

.section1-text h1 {
    justify-content: center;
    align-items: center;
}